<!-- <h1>Salam</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad rem consequuntur exercitationem corporis cumque. Libero, provident commodi! Blanditiis repellendus voluptates reprehenderit ipsum nemo, natus aspernatur labore mollitia dolores quasi nulla eaque quae saepe velit veritatis quos deleniti animi soluta! Amet corporis illo iste accusamus officia earum voluptatem nemo debitis eaque tempore autem recusandae, sunt hic vel optio qui laboriosam totam incidunt itaque dolorem quod aliquam! Doloremque quod iure exercitationem excepturi ex unde reprehenderit repellendus dolor sunt, commodi deleniti, sapiente eos dolore laudantium saepe vitae quasi, molestiae provident adipisci expedita! Consequatur explicabo qui ratione est magnam ex aperiam fugit nihil doloremque.</p>

<img [src]="image" alt="">

<ul>
    <li *ngFor="let todo of todos">
        <p>{{ todo.content }}</p>
        <em>{{ todo.targetDate }}</em>

        {{ todo | json }}

        <input type="checkbox" [ngModel]="todo.done">
    </li>
</ul> -->
*