<!-- <h1>Salam</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad rem consequuntur exercitationem corporis cumque. Libero, provident commodi! Blanditiis repellendus voluptates reprehenderit ipsum nemo, natus aspernatur labore mollitia dolores quasi nulla eaque quae saepe velit veritatis quos deleniti animi soluta! Amet corporis illo iste accusamus officia earum voluptatem nemo debitis eaque tempore autem recusandae, sunt hic vel optio qui laboriosam totam incidunt itaque dolorem quod aliquam! Doloremque quod iure exercitationem excepturi ex unde reprehenderit repellendus dolor sunt, commodi deleniti, sapiente eos dolore laudantium saepe vitae quasi, molestiae provident adipisci expedita! Consequatur explicabo qui ratione est magnam ex aperiam fugit nihil doloremque.</p>

<img [src]="image" alt="">


((.row>.col-12>h1{List of courses})+(.row>.col-12>table.table-striped>(thead>tr>th*5)+tbody>tr>td*5))

<ul>
    <li *ngFor="let todo of todos">
        <p>{{ todo.content }}</p>
        <em>{{ todo.targetDate }}</em>

        {{ todo | json }}

        <input type="checkbox" [ngModel]="todo.done">
    </li>
</ul> -->
<div class="row">
    <div class="col-12">
        <h1>List of courses</h1>
    </div>
</div>

<div class="row my-2">
    <div class="col-6 mx-auto">
        <div class="form-group">
            <label for="Content">Content</label>
            <textarea [(ngModel)]="myTodo.content" name="" id="Content" rows="2" class="form-control"></textarea>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="myTodo.active" type="checkbox" class="form-check-input" id="">
            Checked
          </label>
        </div>

        <button (click)="addTodo()" class="btn btn-block btn-primary">
            <i class="fa fa-send"></i> Add Todo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>Date</th>
                    <th>Done</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos; index as i">
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.content }}</td>
                    <td>{{ todo.date | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <i (click)="toggleActive(todo)" class="fa sizeIcon" [ngClass]="{
                            'fa-check-circle text-success': todo.active,
                            'fa-times-circle text-danger': !todo.active
                        }"></i>
                    </td>
                    <td class="text-right" nowrap>
                        
                        <a [routerLink]="['/todos', todo.id]" class="btn btn-info mr-1 btn-sm"><i class="fa fa-eye"></i></a>
                        <button class="btn mr-1 btn-sm btn-warning"><i class="fa fa-pencil"></i></button>
                        <button (click)="delete(todo.id)" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>